<div class="container">
  <div class="card-block">
    <div class="col-md-12">
      <!--==============-->
      <div class="col-md-4">
        <span class="tag tag-primary">Positives</span>
        <div class="streaming-news-timeline">
          <div class="list-group list-news">
           
            <span class="list-group-item" *ngFor="let item of Positives">
                <div class="content-tweet">
                  <a target="_blank" href="https://twitter.com/bxlley_">
                    <img class="profile-picture" src="assets/img/noimg.png">
                    <img class="profile-picture" onerror="this.style.display='none'" src="{{item.image}}"
                      alt="bxlley_">
                    <strong class="tweets-name">{{item.name}}</strong>
                    <span class="text-muted">{{item.media_displayName}}</span><br>
                  </a>
                  <a class="text-muted post-date" target="_blank">{{item.timestamp}}</a>
                  <a target="_blank">
                    <p>
                      {{item.description | slice:0:100}} ...
                    </p>
                  </a>

                 </div>
            </span>
           
            <span *ngIf="SlideComponent?.length == 0">
                <p style="text-align: center;"><b>No Result</b></p>
            </span>
          </div>
        </div>
      </div>
   
      <!--=================================-->
      <div class="col-md-4">
        <span class="tag tag-default">Neutrals</span>
        <div class="streaming-news-timeline">
          <div class="list-group list-news">
           
            <span class="list-group-item" *ngFor="let item of Neutrals">
                <div class="content-tweet">
                  <a target="_blank" href="https://twitter.com/bxlley_">
                    <img class="profile-picture" src="assets/img/noimg.png">
                    <img class="profile-picture" onerror="this.style.display='none'" src="{{item.image}}"
                      alt="bxlley_">
                    <strong class="tweets-name">{{item.name}}</strong>
                    <span class="text-muted">{{item.media_displayName}}</span><br>
                  </a>
                  <a class="text-muted post-date" target="_blank">{{item.timestamp}}</a>
                  <a target="_blank">
                    <p>
                      {{item.description | slice:0:100}} ...
                    </p>
                  </a>

                 </div>
            </span>
           
            <span *ngIf="SlideComponent?.length == 0">
                <p style="text-align: center;"><b>No Result</b></p>
            </span>
          </div>
        </div>
      </div>
      <!--===================================-->
      <div class="col-md-4">
        <span class="tag tag-danger">Negatives</span>
        <div class="streaming-news-timeline">
          <div class="list-group list-news">
           
            <span class="list-group-item" *ngFor="let item of Negatives">
                <div class="content-tweet">
                  <a target="_blank" href="https://twitter.com/bxlley_">
                    <img class="profile-picture" src="assets/img/noimg.png">
                    <img class="profile-picture" onerror="this.style.display='none'" src="{{item.image}}"
                      alt="bxlley_">
                    <strong class="tweets-name">{{item.name}}</strong>
                    <span class="text-muted">{{item.media_displayName}}</span><br>
                  </a>
                  <a class="text-muted post-date" target="_blank">{{item.timestamp}}</a>
                  <a target="_blank">
                    <p>
                      {{item.description | slice:0:100}} ...
                    </p>
                  </a>

                 </div>
            </span>
           
            <span *ngIf="SlideComponent?.length == 0">
                <p style="text-align: center;"><b>No Result</b></p>
            </span>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>