.tag {
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 75%;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
}

.tag-primary {
    background-color: #20a8d8;
    
}

.card-block {
    padding: 0.75rem;
}

.tag-default {
    background-color: #b0bec5;
}

.tag-danger {
    background-color: #f86c6b;
}
.list-group-item {
padding: 10px 0;
    background: transparent;
    border-left: none;
    border-right: none;
    border-top:none;
    border-bottom:2px solid #ddd;
    font-size: 13px;
}
.list-group-item {
    position: relative;
    display: block;
    padding: 0.75rem 1.25rem;
    margin-bottom: -1px;
    /*background-color: #fff;*/
    /*border: 2px solid #ddd;*/
}

.content-tweet > a > img {
    float: left;
    margin-left: -58px;
    border-radius: 5px;
}

.content-tweet {
    padding-left: 58px;
}

.content-tweet a {
    color: #263238;
}

.content-tweet a:hover {
    text-decoration: none;
}

.text-muted {
    color: #b0bec5 !important;
}

.list-news {
    padding-right: 10px;
    background: transparent;
    margin: 0;
    height: 100%;
    overflow-y: auto;
}

.streaming-news-timeline{
    height: 300px;
}


/* Let's get this party started */
::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
::-webkit-scrollbar-track {
    /*-webkit-box-shadow: inset 0px 0 2px #c7c7c7; 
    */
    background: rgb(248, 248, 248);
    -webkit-border-radius: 0px;
    border-radius: 0px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: slategrey; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: gray; 
}

md-list-item{
    margin: 2px 2px 2px 2px;
    margin-left: -13px;
    margin-right: -13px;
}

.profile-picture{
    width: 40px;
    height: 40px;
}